body{
    background-color: antiquewhite;
}

/*ESTILO HEADER*/
#header{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    float: left;
    margin-bottom: 1%;
}

/*ESTILO NAV*/
#nav{
    width: 20%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    float: left;
    margin-right: 1%;
}

/*ESTILO CONTENT*/
#content{
    width: 60%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    float: left;
    margin-right: 1%;
}

/*ESTILO footer*/
#footer{
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    float: left;
    margin-top: 1%;
}

